---
import Layout from "../layouts/Layout.astro"
---

<Layout title="CULTVM | Sobre nosotros">
    <main class="px-64 flex flex-col gap-6 mt-12">
        <h1 class="font-serif text-4xl">Cultura viva S.A.</h1>
        <p>Cultura Viva para Mayores es un proyecto que busca promover la participación activa de las personas mayores en actividades culturales en Panamá. Su objetivo principal es proporcionar un espacio donde los adultos mayores puedan disfrutar, aprender y compartir experiencias culturales, lo cual enriquece su vida y fomenta su integración social.</p>
    </main>
</Layout>